.pic-item {
  background-repeat: no-repeat;
  background-position: center;
}

.col-4-gutter {
  flex: 0 0 32.5%;
  width: 32.5%;
  padding-bottom: 32.5%;
  background-size: cover;
}

.single-pic {
  flex: 0 0 70%;
  width: 70%;
  padding-bottom: 50%;
  background-size: 100%;
}
