$padding: 16px;
$contentHeight: 80px;

.repost {
  background-color: #F7F7F7;
  padding: $padding;
  padding-bottom: 10px;

  &__box {
    display: flex;
    padding-bottom: $padding;
    border-bottom: 1px solid #eee;
  }

  &__thumb {
    width: 80px;
    height: $contentHeight;
    vertical-align: middle;
  }

  &__content {
    flex: 1;
    line-height: $contentHeight;
    align-items: center;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__topic {
    text-align: right;
    margin-top: 10px;
    font-size: 24px;
    color: #999;
  }
}